body,
html {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
}

.navbar ul {
    margin: 0;
    padding: 0;
    background-color: rgb(212, 16, 16);
    list-style: none;
    text-align: right;
}

.navbar li {
    display: inline-block;
}

.navbar search {
    mask-type: initial;
}

.navbar a {
    margin: 0;
    text-decoration: none;
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;
    text-align: center;
    color: #fff;
}

.navbar a:hover {
    font-size: 13;
    margin: auto;
    padding: auto;
    background: rgb(92, 8, 8);
}

.navbar input {
    font-family: arial;
    font-size: 14px;
    margin-right: 15px;

}

.navbar i {
    margin: 20px;
}

/* Comentario */

.contenedor {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.left-contain {
padding-top: 50px;
    height: 870px;
    width: 62%;
    background-color: white;
    float: left;
    margin-left: 180px;
    margin-bottom: 70px;
}

.left-contain p{
    text-align: justify;
    padding: 70px;
}

.right-links {
    width: 320px;
    float: right;


}

.right-links li {
    text-decoration: none;
    display: inline-block;
    padding-bottom: 10px;
}
.right-links p{
font-size: 22px;
color: #470547;
}
.right-links a {
    text-decoration:none;
    width: 100px;
    font-weight: bold;
    font-family: arial;
    text-align: center;
    color: rgb(145, 17, 177);
}


.footer {
    padding-left: 3%;
    float: left;
    background-color: #2d2d2d;
    width: 97%;
    height: 300px;

}

.columna {
    padding-left: 40px;
    margin-top: 50px;
    float: left;
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
    height: 180px;
    color: white;
}